In [1]:
import pandas as pd
import numpy as np

### 1.1. 인덱서(Indexer)
 - 인덱싱 : 데이터프레임에서 특정한 데이터만 골라내는 것
 - 2차원(numpy 행렬) 인덱싱을 지원하기 위해 인덱서(indexer) 속성 제공
 - loc : 라벨값 기반의 2차원 인덱싱
 - iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

### loc 인덱서

In [2]:
# df.loc[행 인덱싱값]
# df.loc[행 인덱싱값, 열 인덱싱값]
df = pd.DataFrame(np.arange(10, 22).reshape(3,4),
                 index=["a","b","c"],
                 columns=["A","B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
# 인덱싱값을 하나만 받는 경우
df.loc["a"]
# "a"인 행을 고르면 해당하는 행이 시리즈로 출력

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
# 인덱스데이터의 리스트
df.loc[["b", "c"]]
# 이 때는 loc를 쓰지 않으면 KeyError 오류가 발생

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [7]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [8]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [9]:
df.loc["A"] # KeyError

KeyError: 'A'

In [10]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4,4), 
                  columns=["A","B","C","D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [11]:
df2.loc[1:2]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

In [12]:
# 인덱싱값을 행과 열 모두 받으려면 df.loc[행 인덱스, 열 인덱스]
df.loc["a", "A"]

10

In [13]:
# 인덱싱값으로 라벨 데이터의 슬라이싱 또는 리스트 사용 가능
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [14]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [15]:
df.loc[["a","b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

### iloc 인덱서
- iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 
- 정수(integer) 인덱스만 받는다. 다른 사항은 loc 인덱서와 같다.

In [16]:
df.iloc[0,1]

11

In [17]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [18]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int32

In [19]:
df.iloc[2:3, 1:3]

    B   C
c  19  20

In [20]:
# loc 인덱서와 마찬가지로 인덱스가 하나만 들어가면 행을 선택한다.
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [21]:
df.iloc[-1] = df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [22]:
df2.iloc[:, -1]

0    13
1    17
2    21
3    25
Name: D, dtype: int32

In [35]:
college = pd.read_csv('../data/college.csv', index_col='INSTNM')
city = college['CITY']
city.head()

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [45]:
data = pd.DataFrame(city)

In [47]:
data.head()

                                           CITY
INSTNM
Alabama A & M University                 Normal
University of Alabama at Birmingham  Birmingham
Amridge University                   Montgomery
University of Alabama in Huntsville  Huntsville
Alabama State University             Montgomery

In [51]:
data.iloc[1:10]

                                               CITY
INSTNM
University of Alabama at Birmingham      Birmingham
Amridge University                       Montgomery
University of Alabama in Huntsville      Huntsville
Alabama State University                 Montgomery
The University of Alabama                Tuscaloosa
Central Alabama Community College    Alexander City
Athens State University                      Athens
Auburn University at Montgomery          Montgomery
Auburn University                            Auburn

In [52]:
city.iloc[3]

'Huntsville'

In [53]:
city.iloc[[10,20,30]]

INSTNM
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Name: CITY, dtype: object

In [54]:
city.iloc[4:50:10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object

In [55]:
city.loc['Auburn University']

'Auburn'

In [56]:
labels = list(np.random.choice(city.index, 4))
labels

['Mitchells Hairstyling Academy-Goldsboro',
 'Universidad Central de Bayamon',
 'Beau Monde College of Hair Design',
 'Empire Beauty School-North Hills']

In [41]:
city.loc[labels]

INSTNM
Central Texas Beauty College-Round Rock                  Round Rock
Tennessee College of Applied Technology-McMinnville     McMinnville
Academy of Esthetics and Cosmetology                   San Fernando
Lewis and Clark Community College                           Godfrey
Name: CITY, dtype: object

In [42]:
city.loc['Alabama State University':'Reid State Technical College':10]

INSTNM
Alabama State University              Montgomery
Enterprise State Community College    Enterprise
Heritage Christian University           Florence
Marion Military Institute                 Marion
Reid State Technical College           Evergreen
Name: CITY, dtype: object